@using System.Globalization
@model List<ProductoViewModel>
@{
    ViewData["Title"] = "Lista Productos";
}

<h2>Productos</h2>
<br>
<a asp-controller="Producto" asp-action="Create" class="btn btn-success">Nuevo Poducto</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Descripcion</td>
                <td>@p.Precio.ToString("C", new CultureInfo("es-AR"))</td>
                <td>
                    <div @*class="d-grid gap-2 d-md-flex justify-content-md-end"*@>

                        <a class="btn btn-primary btn-sm" asp-route-id="@p.IdProducto" asp-controller="Producto"
                            asp-action="Edit" type="button">Editar</a>

                        <!-- Botón que abre el modal -->
                        <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-@p.IdProducto">
                            Eliminar
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="modal-@p.IdProducto" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">¿Desea eliminar @p.Descripcion?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Cerrar"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>

                                        <form asp-controller="Producto" asp-action="Delete" method="post">
                                            <input type="hidden" name="id" value="@p.IdProducto" />
                                            <button type="submit" class="btn btn-danger">Aceptar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>